
<div class="card-panel">
    <div class="card-inner">
        <div class="dropdown-panel">

        </div>
        <div class="profileImage">
            <img
                    src={image}
                    alt={firstname}
            />
        </div>
        <div class="employee-detail">
            <h3>{firstname} {lastname}</h3>
            <p>{email}</p>
        </div>
    </div>
    <div class="position-role">
        <p>{position}</p>
    </div>
</div>

</div>