<div id="add-employee-modal" class="modal-container">
    <form action="">
        <div class="modal-box">
            <div class="modal-header">
                <h2>New Employee Details</h2>
                <a href="#" id="close-add-employee-modal" class="close-icon"></a>
            </div>
            <div class="modal-input">
                <div class="input-container">
                    <div class="input-box">
                        <label>First Name</label>
                        <input id="employee-first-name" type="text" name="firstname"/>

                    </div>
                    <div class="input-box">
                        <label>Last Name</label>
                        <input id="employee-last-name" type="text" name="lastname"/>
                    </div>
                </div>
                <div class="input-box">
                    <label>Date of Birth</label>
                    <input id="employee-dob" type="date" name="dob"/>
                </div>

                <div class="input-container">
                    <div class="input-box">
                        <label>Email Address</label>
                        <input id="employee-email" type="email" name="email"/>
                    </div>
                    <div class="input-box">
                        <label>Phone</label>
                        <input id="employee-phone" type="text" name="phone"/>
                    </div>

                </div>
                <div class="input-box">
                    <label>Job-position</label>
                    <input id="employee-job-position" type="text" name="position"/>
                </div>
                <div class="input-box">
                    <label>Date of Hire</label>
                    <input id="employee-date-of-hire" type="date" name="dateOfHire"/>
                </div>
                <div class="modal-footer">
                    <button id="add-employee-save-button" class="add-btn" type="submit">Save</button>
                </div>

            </div>
        </div>
    </form>
</div>
